* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
    width: 100%;
}

.card {
    position: relative;
    margin: 50px auto;
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: blue;
    transform: rotateY(0deg);
}

.card-back {
    background-color: red;
    transform: rotateY(180deg);
}

.card:hover {
    transform: rotateY(180deg);
}






@import "_navbar.scss";
@import "_header.scss";
@import "_logotips.scss";
@import "_strategic.scss";
@import "_business.scss";
@import "_work.scss";
@import"_read.scss";
@import "_get.scss";
@import "footer";